@model LanguageFeatures.Models.ShoppingCartModels
@{
	ViewBag.Title = "Result";
	string[] a = "all;a;b;c;d;e;f;g;h;i;j;k;l;m;n;o;p;q;r;s;t;u;v;w;x;y;z;0;1;2;3;4;5;6;7;8;9".Split(';');
}
<title>Result</title>
<script src="/Scripts/jquery.fileDownload.js"></script>
@*<br />*@
<h2>Product List:</h2>
<form class="formProductList" id="formProductList" action='@Url.Action("ExportToExcel")'>
	<d>
		<div style="float: left;">
			Last Name Beginning with&nbsp;
			<select id="newBeginWith" name="newBeginWith">
				@foreach (string aa in a)
			{
					<option value="@aa" @(Model.currentBeginWith == aa ? "selected" : "")>@aa</option>
			}
			</select>
			<input id="btnOrder" type="submit" name="btnOrder" value="Submit" />&nbsp;
			<img id="productListSpinner" src="~/Content/images/spinner.gif" style="display: none;" />
		</div>
		<div style="float: right;">
			<input id="currentSortBy" type="hidden" name="currentSortBy" value="@Model.currentSortBy" />
			<input id="currentSortOrder" type="hidden" name="currentSortOrder" value="@Model.currentSortOrder" />
			<input id="currentBeginWith" type="hidden" name="currentBeginWith" value="@Model.currentBeginWith" />
			<input id="currentPageSize" type="hidden" name="currentPageSize" value="@Model.currentPageSize" />
			<input id="newSortBy" type="hidden" name="newSortBy" value="@Model.currentSortBy" />
			<input id="newSortOrder" type="hidden" name="newSortOrder" value="@Model.currentSortOrder" />
			Page:&nbsp;
			<select id="newPage" name="newPage">
				@for (int i = 1; i <= Model.numOfPages; i++)
			{
					<option value=@i @(Model.currentPage == i ? "selected" : "")>@i</option>
			}
			</select>
			&nbsp;Page Size:&nbsp;
			<select id="newPageSize" name="newPageSize">
				<option value=10 @(Model.currentPageSize == 10 ? "selected" : "")>10</option>
				<option value=25 @(Model.currentPageSize == 25 ? "selected" : "")>25</option>
				<option value=50 @(Model.currentPageSize == 50 ? "selected" : "")>50</option>
				<option value=100 @(Model.currentPageSize == 100 ? "selected" : "")>100</option>
			</select>
		</div>
		<br /><br />
		<div id="divProductListTable">
			<style type="text/css">
				#myTable { table-layout: fixed; }
					#myTable thead tr:first-child { background-color: #6B696B; color: white; border-right: 1px solid white; }
					#myTable thead tr td:first-child { border-left: 0; width: 15px; text-align: right; padding-right: 10px; }
					#myTable thead tr td { font-weight: bold; padding-left: 5px; }
					#myTable thead a { color: white; font-weight: bold; text-decoration: underline; }
					#myTable tbody tr td { border-left: 1px solid #808080; padding-left: 5px; }
					#myTable tbody tr:first-child td { padding-top: 7px; }
					#myTable tbody tr td:first-child { text-align: right; padding-right: 10px; }
					#myTable tbody tr:nth-child(odd) { background-color: lightyellow; }
					#myTable td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 2px; }
					#myTable tr td:nth-last-child(2) { text-align: right; padding-right: 10px; }
					#myTable td { border-left: 1px solid #c0c0c0; padding-left: 10px; }
					#myTable tr td:first-child { border-left: 0px; }
					#myTable #totalPrice td { border-left: 0px; }
					#myTable .tdBorderTop { border-top: 2px solid black; }
					#myTable tbody td a { text-decoration: none; cursor: pointer; }
					#myTable tbody tr td div { min-height: 100px; background-color: white; text-align: left; border: 2px solid black; }
						#myTable tbody tr td div tr td { background-color: white; border-left: none; }
							#myTable tbody tr td div tr td:first-child { text-align: left; }
				/*#myTable thead tr th { text-decoration: underline; cursor: pointer; }*/
			</style>
			<div id="formInsertRecord">
				ID:&nbsp;
				<input type="text" class="addRecordInputs" name="ProductID" id="ProductID" style="width:30px; text-transform: uppercase;" />&nbsp;
				Name:&nbsp;
				<input type="text" class="addRecordInputs" name="Name" id="Name" style="width:100px;" />
				Description:&nbsp;
				<input type="text" class="addRecordInputs" name="Description" id="Description" style="width:400px;" />
				Category:&nbsp;
				<select id="Category" class="addRecordInputs" name="Category">
					<option value="Home">Home</option>
					<option value="OutDoor">OutDoor</option>
					<option value="Computer">Computer</option>
					<option value="phone">phone</option>
					<option value="Camera">Camera</option>
					<option value="TV">TV</option>
					<option value="Office">Office</option>
					<option value="wine">wine</option>
					<option value="car">car</option>
				</select>
				Price:&nbsp;
				<input type="text" class="addRecordInputs" name="Price" id="Price" style="width:50px;" @*onkeypress="isValidPriceKey(event)"*@ />
				<input id="btnInsertRecord" type="submit" name="btnInsertRecord" value="Add" />
				&nbsp;
				<img id="insertProductSpinner" src="~/Content/images/spinner.gif" style="display: none;" />
				<span id="insertProductAckMsg" style="font-weight: bold; color: red;">@Model.insertRecordAckMsg</span>
			</div>
			<br />
			<table id="myTable" style="width: 100%;">
				<thead>
					<tr>
						@*set up and down image (150918)*@
						<td style="width:50px;">#</td>
						<td style="width:60px;">
							<a href="" id="productID">ID</a>
							@if (Model.currentSortBy == "productID")
							{
								<img src='/Content/images/@(Model.currentSortOrder == "ascending" ? "up":"down").png' />
							}
						</td>
						<td style="width:150px;">
							<a href="" id="name">Name</a>
							@if (Model.currentSortBy == "name")
							{
								<img src='/Content/images/@(Model.currentSortOrder == "ascending" ? "up":"down").png' />
							}
						</td>
						<td>
							<a href="" id="description">Description</a>
							@if (Model.currentSortBy == "description")
							{
								<img src='/Content/images/@(Model.currentSortOrder == "ascending" ? "up":"down").png' />
							}
						</td>
						<td style="width:100px;">
							<a href="" id="category">Category</a>
							@if (Model.currentSortBy == "category")
							{
								<img src='/Content/images/@(Model.currentSortOrder == "ascending" ? "up":"down").png' />
							}
						</td>
						<td style="width:100px;">
							<a href="" id="price">Price</a>
							@if (Model.currentSortBy == "price")
							{
								<img src='/Content/images/@(Model.currentSortOrder == "ascending" ? "up":"down").png' />
							}
						</td>
						<td style="width:50px;">Edit</td>
						<td style="width:25px;"></td>
					</tr>
				</thead>
				<tbody>
					@{
						int row = ((Model.currentPage - 1) * Model.currentPageSize) + 1;
						if (Model.Products != null)
						{
							foreach (LanguageFeatures.DataModels.Product product in Model.Products)
							{
								<tr style="@(product.ProductID==Model.insertedRowID? "background-color: yellow;":"")">
									<td>@row</td>
									<td>@product.ProductID</td>
									<td>@product.Name</td>
									<td>@product.Description</td>
									<td>@product.Category</td>
									<td>@product.Price</td>
									<td><a class="updateRecord">edit</a></td>
									<td><a class="expandDetails"><img src="/Content/images/expand.gif" /></a></td>
								</tr>

								row++;
							}
						}
					}
				</tbody>
				@*<tr style="height: 10px"></tr>
					<tr id="totalPrice">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="tdBorderTop">Total:</td>
						<td class="tdBorderTop">@Model.totalPrices</td>
					</tr>*@
			</table>
			<br />
			<span id="numOfProducts" style="font-weight:bold;">Total Number of Products: @Model.numOfProducts</span>
			<p>
				<input type="button" value="export to excel" onclick="return OnExportToExcelClick();" />
			</p>

		</div>
</form>
<script type="text/javascript">
	var currentRow;
	var currentProductID;
	var currentName;
	var currentDescription;
	var currentCategory;
	var currentPrice;
	var currentRowForDetails;
	var currentProductIDForDetails;
	function onCrossClick() {
		currentRow.find('td:nth-child(2)').html(currentProductID);
		currentRow.find('td:nth-child(3)').html(currentName);
		currentRow.find('td:nth-child(4)').html(currentDescription);
		currentRow.find('td:nth-child(5)').html(currentCategory);
		currentRow.find('td:nth-child(6)').html(currentPrice);

		currentRow.find('td:nth-child(7)').html('<a>edit</a>');
		currentRow.find('td:nth-child(7)').find('a').click(OnEditClick);

		currentRow = currentProductID = currentName = currentDescription = currentCategory = currentPrice = null;
		return false;
	}
	function onTickClick() {
		var newEditRow = $(this).closest('tr');
		var newEditProductID = $('#currentEditProductID').val();
		var newEditName = $('#currentEditName').val();
		var newEditDescription = $('#currentEditDescription').val();
		var newEditCategory = $('#currentEditCategory').val();
		var newEditPrice = $('#currentEditPrice').val();
		var updateData = { ProductID: newEditProductID, Name: newEditName, Description: newEditDescription, Category: newEditCategory, Price: newEditPrice }
		$.ajax({
			url: "/Home/UpdateProduct",
			data: updateData,
			complete: function () { $('#modifyProductSpinner').hide(); },
			success: function (n) {
				if (typeof (n) == 'object') {
					if (n.isProductIDOk == false) { $('#currentEditProductID').css('border', '1px solid Red'); }
					if (n.isNameOk == false) { $('#currentName').css('border', '1px solid Red'); }
					if (n.isDescriptionOk == false) { $('#currentDescription').css('border', '1px solid Red'); }
					if (n.isCategoryOk == false) { $('#currentCategory').css('border', '1px solid Red'); }
					if (n.isPriceOk == false) { $('#currentPrice').css('border', '1px solid Red'); }
					alert(n.ackMsg);
				} else {
					$('#ProductListWrapper').html(n);
				}
			}
		})
	}
	function OnExportToExcelClick() {
		$('#formProductList').submit();
	}
	$(function () {
		//function isValidPriceKey(event) {
		//	var x = event.which || event.keyCode;
		//	if (x < 48 || x > 57) {
		//		event.preventDefault();
		//	}
		//}

		//$("#accordion").accordion({
		//	collapsible: true
		//});

		$('form.formProductList').click(function (e) {
			$.fileDownload('ExportToExcel', {
				successCallback: function (url) {
				},
				failCallback: function (html, url) {
				}
			});
			e.preventDefault(); //otherwise a normal form submit would occur
		});

		$('#Price').keyup(function () {
			var $th = $(this);
			$th.val($th.val().replace(/[^0-9.]/g, function (str) {
				$('#Price').css('border', '1px solid Red').delay();
				//alert('You typed " ' + str + ' ".\n\nPlease use only numbers.');
				return '';
			}));
		});
		$("#btnOrder").click(function () {
			$('#productListSpinner').show();
			var data = $('#formProductList').serialize() + '&myJob=Programmer';
			$.ajax({
				url: "/Home/Submit",
				method: "POST",
				data: data,
				complete: function () { $('#productListSpinner').hide(); },
				success: function (result) {
					//alert(result);
					$('#ProductListWrapper').html(result);
				}
			});
			return false;
		});

		$("#newPageSize").change(function () {
			$('#btnOrder').click();
		});
		$("#newPage").change(function () {
			$('#btnOrder').click();
		});
		$('#myTable thead a').click(function () {
			var sortBy = $(this).attr('id');
			var sortOrder = ($('#currentSortOrder').val() == 'ascending' ? 'descending' : 'ascending');
			$('#newSortBy').val(sortBy);
			$('#newSortOrder').val(sortOrder);
			$('#btnOrder').click();
			return false;
		});
		$('#btnInsertRecord').click(function () {
			$('#formInsertRecord input.addRecordInputs').css('border', '');
			$('#insertProductAckMsg').empty();
			$('#insertProductSpinner').show();
			var productID = $('#ProductID').val();
			var name = $('#Name').val();
			var description = $('#Description').val();
			var category = $('#Category').val();
			var price = $('#Price').val();
			var insertData = { ProductID: productID, Name: name, Description: description, Category: category, Price: price }
			$.ajax({
				url: "/Home/InsertProduct",
				method: "POST",
				data: insertData,
				complete: function () { $('#insertProductSpinner').hide(); },
				success: function (n) {
					if (typeof (n) == 'object') {
						if (n.isProductIDOk == false) { $('#ProductID').css('border', '1px solid Red'); }
						if (n.isNameOk == false) { $('#Name').css('border', '1px solid Red'); }
						if (n.isDescriptionOk == false) { $('#Description').css('border', '1px solid Red'); }
						if (n.isCategoryOk == false) { $('#Category').css('border', '1px solid Red'); }
						if (n.isPriceOk == false) { $('#Price').css('border', '1px solid Red'); }
						$('#insertProductAckMsg').html(n.ackMsg);
					}
					else {
						$('#ProductListWrapper').html(n);
					}
				}
			})
			return false;
		});
		$('.updateRecord').click(OnEditClick);
		$('.expandDetails').click(OnExpandProductDetailsClick);
	});

	function OnExpandProductDetailsClick() {
		if (currentRowForDetails != null) { OnCollapseProductDetailsClick(); }
		currentRowForDetails = $(this).closest('tr');
		currentProductIDForDetails = currentRowForDetails.find('td:nth-child(2)').html();
		currentRowForDetails.find('td:last-child').html('<a><img src="/Content/images/collapse.gif" /></a>');
		currentRowForDetails.find('td:last-child').find('a').click(OnCollapseProductDetailsClick);
		currentRowForDetails.after('<tr><td colspan="8"><div id="currentRowDetials"><img id="spinnerExpandProductDetails" src="/Content/images/spinner.gif" /></div></td></tr>');
		$.ajax({
			url: "/Home/ProductDetails",
			data: { productID: currentProductIDForDetails },
			complete: function () { $('#spinnerExpandProductDetails').hide(); },
			success: function (n) {
				$('#currentRowDetials').html(n);
			}
		})

		return false;
	}

	function OnCollapseProductDetailsClick() {
		currentRowForDetails.find('td:last-child').html('<a><img src="/Content/images/expand.gif" /></a>');
		currentRowForDetails.find('td:last-child').find('a').click(OnExpandProductDetailsClick);
		currentRowForDetails.next().remove();
		currentRowForDetails = currentProductIDForDetails = null;
		return false;
	}

	function OnEditClick() {
		if (currentRow != null) { onCrossClick(); }
		$(this).html('<a href="" onclick="onTickClick(); return false;"><img src="/Content/images/tick_10a.png" alt="" style="border:0;"/></a>&nbsp;<a href="" onclick="onCrossClick(); return false;"><img src="/Content/images/cross_10a.gif" alt="" style="border:0;"/></a><img id="modifyProductSpinner" src="~/Content/images/spinner.gif" style="display: none;" />');
		currentRow = $(this).closest('tr');
		//alert(currentRow.html());
		currentProductID = currentRow.find('td:nth-child(2)').html();
		currentName = currentRow.find('td:nth-child(3)').html();
		currentDescription = currentRow.find('td:nth-child(4)').html();
		currentCategory = currentRow.find('td:nth-child(5)').html();
		currentPrice = currentRow.find('td:nth-child(6)').html();
		currentRow.find('td:nth-child(2)').html('<input type="hidden" id="currentEditProductID" value="' + currentProductID + '"/>' + currentProductID);
		currentRow.find('td:nth-child(3)').html('<input type="text" id="currentEditName" style="width:140px;" value="' + currentName + '"/>');
		currentRow.find('td:nth-child(4)').html('<input type="text" id="currentEditDescription" style="width:100%;" value="' + currentDescription + '"/>');
		currentRow.find('td:nth-child(5)').html('<input type="hidden" id="currentEditCategory" value="' + currentCategory + '"/>' + currentCategory);
		currentRow.find('td:nth-child(6)').html('<input type="text" id="currentEditPrice" style="width:90px;" value="' + currentPrice + '"/>');
		return false;
	}

</script>
